@use 'global'as *;

.login {
    padding-top: 106px;
    padding-bottom: 92px;

    .container {
        display: flex;
        align-items: center;
        gap: 178px;
    }
}

.login-form-title {
    @include head-lora(36px);
    margin-bottom: 40px;
}

.form {
    width: 429px;

    input:not([type='checkbox']) {
        width: 100%;
        margin-bottom: 5px;
    }

    input[type='checkbox'] {
        padding-top: 5px;
        cursor: pointer;
    }

    label {
        font-size: 14px;
        color: $text-color;
        cursor: pointer;
    }


}

.input-password-box {
    position: relative;    
}

.form-remember-me {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.form-btn {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.form-to-signup {
    font-size: 14px;
    color: #1e1a2b;

    a {
        color: $accent-color;
        text-decoration: none;
    }
}