@use '@angular/material'as mat;
@use 'global'as *;

html {
    height: 100%;
    @include mat.theme((color: (primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            density: 0,
        ));
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

.menu {
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        a {
            font-weight: 500;
            color: $text-color;
            text-decoration: none;
            cursor: pointer;

            &:hover,
            &.select {
                color: $accent-color;
            }
        }
    }
}

.btn {
    padding: 15px;
    border-radius: 5px;
    border: 0;
    background-color: $accent-color;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;

    &:disabled {
        background-color: rgb(171, 171, 171);
        cursor: not-allowed;
    }
}

.input {
    border: 1px solid $accent-color;
    border-radius: 3px;
    padding: 17px;
    outline: none;
    color: $text-color;
    box-sizing: border-box;
    font-size: 16px;

    &::placeholder {
        font-size: 14px;
        color: #a8aba7;
    }
}

.form-error {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 5px;
}